body{
    margin: 0;
    padding: 0;
    font-family: "poppins",sans-serif ;
}
/* header-section here */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.site-header {
  background: #f8f8f8;
  padding: 10px 0;
  border-bottom: 1px solid #eaeaea;
}

.site-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo h1 {
  max-height: 50px;
  margin-left: 50px;
}
.logo h1 span{
  color: #ff9a68;
}
.main-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
#home{
  color: #ff9a68;
}
#home:hover{
  color: #ec8958;
}
.main-nav ul li {
  margin-right: 45px;
}

.main-nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  
}

.main-nav ul li a:hover {
  color: #ec8958;
}

.container button{
  padding: 10px 15px;
  background-color: #ff9a68;
  border: none;
  margin-right: 90px;
  border-radius: 5px;
  cursor: pointer;
  
}
.container button:hover {
  background-color: #ec8958;
}

/* hero section here */
.hero {
  width: 100%;
  background: #f4f4f4;
  padding: 50px 20px;
  text-align: center;
}

.hero img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.hero p {
  font-size: 1.2rem;
  color: #666;
}

/* quick section here */
#Quick-section{
  background-color: #ff9a68;
  height: 180px;
  width: 100%;

}
.q-heading{
  margin: 10px 75px;
  width: 20%;
}


.q-heading p{
  font-size: 18px;
  font-weight: 600;
}
.quick{
  
  display: flex;
}
.quick-line{
    height: 180px;
    width: 3px;
    background-color:rgb(173, 173, 173);
    margin-left: 90px;
  
}

.quickBtn h2{
padding: 45px  40px;

}













/* lastest section here */

.latest-work {
  padding: 50px 20px;
  text-align: center;
}

.latest-work h2{
  font-size: 4rem;
  margin-bottom: 20px;
  color: #222;
}

.gallery{
  margin-top: 38px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery img {
  margin: 20px;
  width: 240px;
  height: 290px;
  object-fit: cover;
}

/* about section here */


.about {
  padding: 50px 20px;
  text-align: center;
}

.about h2 {
  font-size: 4rem;
  margin-bottom: 20px;
  color: #222;
}

.about p {
  max-width: 790px;
  margin: 15px auto;
  color: #555;
  font-size: 20px;
}



/* make website section stlye here */

.make-website {
  padding: 50px 20px;
  text-align: center;
}

.make-website h2{
  max-width: 600px;
  margin: 20px auto;
  color: #555;
  font-size: 28px;
}

.website-categories {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.website-category img{
  margin: 20px;
  width: 240px;
  height: 260px;
  object-fit: cover;
}


/* Experience section here */
#Exprience-section h2{
  font-size: 7rem;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 18px 100px;
  margin-bottom: 20px;
  color: #222;
  text-transform: uppercase;
}
.exp-contant{ 
  margin-top: 65px;
  display: flex;
}

.exp-text{
  text-transform: capitalize;
  margin: 70px 130px;
  width: 35%;
}

.exp-text h3{
  font-weight: 600;
  font-size: 35px;
  
}
.exp-text button{
  border: none;
  padding: 13px 15px;
  border-radius: 17px;
  margin: 0px 7px;
  cursor: pointer;
}

.exp-contant2{ 
  margin-top: 95px;
  display: flex;
}

.exp-text2{
  text-transform: capitalize;
  padding: 80px 190px;
  width: 30%;
}
.exp-text2 h3{
  font-weight: 600;
  font-size: 35px;
  
}
.exp-text2 button{
  border: none;
  padding: 13px 15px;
  border-radius: 17px;
  margin: 0px 7px;
  cursor: pointer;
}



.exp-contant3{ 
  margin-top: 95px;
  display: flex;
}

.exp-text3{
  text-transform: capitalize;
  margin: 70px 130px;
  width: 35%;
}

.exp-text3 h3{
  font-weight: 600;
  font-size: 35px;
  
}
.exp-text3 button{
  border: none;
  padding: 13px 15px;
  border-radius: 17px;
  margin: 0px 8px;
  cursor: pointer;
}

.exp-image{
  
  width: 85%;
  margin: auto;
  height: 400px;
  background-color: #ff9a68;
}


.exp-image img{
    width: 35%;
  
    height: 400px;
}

#Exprience-section button{
  border-radius: 40%;
  border: none;
  padding: 14px;
}









/* follow section here */
.follow-section {
  padding: 50px 20px;
  text-align: center;
}

.follow-section h2{
  font-size: 4rem;
  margin-bottom: 20px;
  color: #222;
}

.mypic{
  margin-top: 90px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.mypic img {
  margin: 20px;
  width: 220px;
  height: 240px;
  object-fit: cover;
}
.mypic :first-child{
  margin-top:-35px ;
}

.follow-section li{
  margin-top: 60px;
  
}

.follow-section li a{
  padding: 30px 18px;
  background-color: #ec8958;
  border-radius: 15px;
}
